@using Bookshelf.Models.Blocks
@model PresentationBlock


<div class="presentationBlock">
    <div class="backgroundImage">@Html.PropertyFor(model => model.BackgroundImage)</div>
    <img src="@Url.ContentUrl(Model.PersonImage)" class="personImage img-circle img-thumbnail" />
    <div class="row center presentationText">
        <div class="col-md-12">
            <div class="col-md-4">
                <p>@Html.PropertyFor(model => model.Telefonnummer)</p>
                <p>@Html.PropertyFor(model => model.Email)</p>
            </div>
            <div class="col-md-4">
                <div class="nameText">@Html.PropertyFor(model => model.PortfolioName)</div>
                <p>@Html.PropertyFor(model => model.Rubrik)</p>
                <p>@Html.PropertyFor(model => model.Link)</p>
            </div>
            <div class="col-md-4">
                <p>@Html.PropertyFor(model => model.Ort)</p>
                <p>@Html.PropertyFor(model => model.Land)</p>
            </div>
        </div>
    </div>
</div>
