@using EPiServer.Core
@model Bookshelf.Models.Pages.SitePageData

<div class="border marginBottom">
    @if(Model.HasTemplate())
    {
        <a href="@Url.PageUrl(Model.LinkURL)">
            <h4 class="center">@Model.PageName</h4>
            <img class="partialImage" src="@Url.ContentUrl(Model.PageImage)" />
        </a>
    }
    else
    {
        <h4 class="center">@Model.PageName</h4>
        <img class="partialImage" src="@Url.ContentUrl(Model.PageImage)" />
    }
</div>


