@using EPiServer.Core
@model Bookshelf.Models.Pages.SitePageData

<div class="border">
    @if (Model.HasTemplate())
    {
        <div class="col-md-8">
            <a href="@Url.PageUrl(Model.LinkURL)">
                <img class="partialImage" src="@Url.ContentUrl(Model.PageImage)" />
            </a>
        </div>         
        <div class="col-md-4">
            <a href="@Url.PageUrl(Model.LinkURL)"><h2 class="center">@Model.PageName</h2></a>
        </div>           
    }
    else
    {
        <h4 class="center">@Model.PageName</h4>
        <img class="partialImage" src="@Url.ContentUrl(Model.PageImage)" />
    }
</div>

