@using EPiServer.Core
@model Bookshelf.Models.Pages.SitePageData

<div class="border">
    <div class="">
        @if(Model.HasTemplate())
        {
            <a href="@Url.PageUrl(Model.LinkURL)">
                <h4 class="partialText">@Model.PageName</h4>
                <img class="partialImage" src="@Url.ContentUrl(Model.PageImage)" />
            </a>
        }
        else
        {
            <h4 class="partialText">@Model.PageName</h4>
            <img class="partialImage" src="@Url.ContentUrl(Model.PageImage)" />
        }
    </div>
</div>


