@using Bookshelf.Models.Pages
@using Bookshelf.Models.ViewModels
@model IPageViewModel<SitePageData>

<hr />
<div class="row footer">
    <div class="col-md-3">
        <h4>@Html.Translate("/footer/books")</h4>
        @Html.PropertyFor(x => x.Layout.BookPages)
    </div>
    <div class="col-md-3">
        <h4>@Html.Translate("/footer/publishers")</h4>
        @Html.PropertyFor(x => x.Layout.PublishersPages)
    </div>
    <div class="col-md-3">
        <h4>@Html.Translate("/footer/authors")</h4>
        @Html.PropertyFor(x => x.Layout.AuthorPages)
    </div>
    <div class="col-md-3">
        <h4>@Html.Translate("/footer/aboutme")</h4>
        @Html.PropertyFor(x => x.Layout.AboutMePages)
        @*<ul>
            <li>
                @if (Model.Layout.LoggedIn)
                {
                    @Html.ActionLink(Html.Translate("/footer/logout"), "Logout", new { language = @Model.CurrentPage.Language.Name })
                }
                else
                {
                    if (!Model.Layout.IsInReadonlyMode)
                    {
                        <a href="@Model.Layout.LoginUrl" title="@Html.Translate("/footer/login")">@Html.Translate("/footer/login")</a>
                    }
                }
            </li>
        </ul>*@

    </div>
</div>


