@using EPiServer.Core
@using Bookshelf.Controllers
@model Bookshelf.Models.Blocks.TeaserBlock

<div class="border teaserPadding">
    @if (!ContentReference.IsNullOrEmpty(Model.Link) && !(ViewContext.Controller is PreviewController))
    {
        <div class="col-md-6 col-sm-6">
            <a href="@Model.Link">
                <div @Html.EditAttributes(x => x.Image)>
                    <img class="partialImage" src="@Url.ContentUrl(Model.Image)" />
                </div>
            </a>
        </div>
        <div class="col-md-6 col-sm-6">
            <a href="@Model.Link">
                <h2 class="center">@Model.Heading</h2>
                <p @Html.EditAttributes(x => x.Text)>@Model.Text</p>
            </a>
        </div>
    }
    else
    {
        <div class="col-md-6 col-sm-6">
            <div @Html.EditAttributes(x => x.Image)>
                <img class="partialImage" src="@Url.ContentUrl(Model.Image)" />
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
                <h2 class="center" @Html.EditAttributes(x => x.Heading)>@Model.Heading</h2>
                <p @Html.EditAttributes(x => x.Text)>@Model.Text</p>
        </div>
    }
</div>